<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-12 align-self-center">
      <img src="https://zapodaj.net/images/e1fe0116e5be4.png" alt="logo">
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-6 text-center">
      <button id="login" class="btn btn-link" routerLink="/login">
        <img src="https://zapodaj.net/images/7f5a534b53e34.png" alt="zaloguj">
      </button>
    </div>
    <div class="col-md-6 text-center">
      <button id="register" routerLink="/register" class="btn btn-link">
        <img src="https://zapodaj.net/images/d6d2ad8ce669c.png" alt="zarejestruj">
      </button>
    </div>
  </div>
</div>