<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-md-12 align-self-center">
      <img src="assets/logo.png" alt="logo">
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-md-6 text-center">
      <button id="login" class="btn btn-link" routerLink="/login">
        <img src="assets/zaloguj.png" alt="zaloguj">
      </button>
    </div>
    <div class="col-md-6 text-center">
      <button id="register" routerLink="/register" class="btn btn-link">
        <img src="assets/zarejestruj.png" alt="zarejestruj">
      </button>
    </div>
  </div>
</div>