 img
 {
    width:100%;
    height: 35%;
 }

.container-fluid
 {
    background-image: url("/assets/wall.jpg");
    background-color: #9eecff;
    background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;
    position: absolute; 
    top: 0;
    bottom: 0;      
    width: auto;
    height: auto;  
 }

button 
{
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;   
}

button:hover
{
    transform: scale(1.05,1.05);       
}






 


 
