<div class="container-fluid">
  <div class="row" id="header">
    <div class="col-md-4">
      <img src="assets/logo-hp.png" alt="logo" id="logo">
    </div>
    <div class="col-md-2" id="btn1">
      <button type="button" (click)="createNewFiche()" class="btn-primary-outline" id="kf">
        <img src="assets/mf.png" alt="Katalog">
      </button>
      <div class="w-100"></div>
      <p>Kreator fiszek</p>
    </div>
    <div class="col-md-2" id="btn2">
      <button type="button" class="btn-primary-outline" id="kpro">
        <img src="assets/pro.png" alt="PRO">
      </button>
      <div class="w-100"></div>
      <p>Wykup konto PRO</p>
    </div>
    <div class="col-md-3 align-item-center">
      <p id="zj">Zalogowano jako:</p>
    </div>
    <div class="col-md-1 align-item-center">
      <button type="button" routerLink="" class="btn btn-info" id="wyloguj">Wyloguj</button>
    </div>
  </div>
  <div class="row" id="content">
    <div class="col-md-8 align-self-center justify-content-around" id="catalog-container">
      <div class="row" id="top">
        <div class="col-md align-items-center text-left" id="path">
               
                <button type="button" id="back"  title="Powrót"><img src="/assets/arrow.png" alt="Powrót"></button>
                {{catalog.name}}
               <button type="button" id="add-folder"  title="Dodaj folder"><img src="/assets/add_folder.png" alt="Dodaj folder"></button>
     
              </div>
      </div>
      <div class="row text-center" id="second">
        <div class="col-md-12 align-items-center justify-content-around" id="cataloglist">
          <div *ngFor="let rowElement of catalogView" class="row align-items-center justify-content-around" id="frow">
            <div *ngFor="let item of rowElement.row" class="col-md">
              <a *ngIf="item.name.length != 0" [routerLink]="[item.name]">
                <img src="/assets/folder.png">
                <p>{{item.name}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around" id="footer">
    <div class="col-md-12">
      <p>Copyright © 2018</p>
    </div>
  </div>