<div class="container-fluid">
  <div class="row" id="header">
    <div class="col-md-4">
      <img src="assets/logo-hp.png" alt="logo" id="logo">
    </div>
    <div class="col-md-2" id="btn1">
      <button type="button" (click)="toFicheEdit()" class="btn-primary-outline" id="kf">
        <img src="assets/mf.png" alt="Katalog">
      </button>
      <div class="w-100"></div>
      <p>Kreator fiszek</p>
    </div>
    <div class="col-md-2" id="btn2">
      <button type="button" class="btn-primary-outline" id="kpro" >
        <img src="assets/pro.png" alt="PRO">
      </button>
      <div class="w-100"></div>
      <p>Wykup konto PRO</p>
    </div>
    <div class="col-md-3">
      <p id="zj">Zalogowano jako:</p>
    </div>
    <div class="col-md-1 align-self-center">
      <button type="button" routerLink="" class="btn btn-info" id="wyloguj">Wyloguj</button>
    </div>
    </div>

  <div class="row align-items-center justify-content-around" id="catalog-container">
    <div class="row align-items-center justify-content-around" id="top">
      <div class="col-md-8 align-self-center">
      </div>
    </div>
    <div class="row align-items-center justify-content-around" id="cataloglist">
      <div class="col-md-8 align-self-center">
      </div>
    </div>
  </div>
  </div>
  