<div class="container-fluid">
  <form #loginForm="ngForm" novalidate>
    <div class="form-row justify-content-around" id="top">
      <div class="form-group col-md-4">
        <label for="username">
          <img src="assets/loginn.png" alt="Login:">
          <div *ngIf="username.invalid && username.touched" class="form-group col-md-8">
            <span class="text-danger">Proszę podać nazwę użytkownika</span>
          </div>
        </label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Wprowadź nazwę użytkownika" required #username="ngModel"
          [(ngModel)]="model.username">
      </div>
    </div>
    <div class="form-row justify-content-around">
      <div class="form-group col-md-4">
        <label for="password">
          <img src="assets/haslo.png" alt="Hasło:">
          <div *ngIf="password.invalid && password.touched" class="form-group col-md-8">
            <span class="text-danger">Proszę podać hasło</span>
          </div>
        </label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Wprowadź hasło" required #password="ngModel"
          [(ngModel)]="model.password">
      </div>
    </div>
    <div class="form-row justify-content-around">
      <div class="form-group col-md-4 text-center">
        <button routerLink="/home" [disabled]="(loginForm.invalid && loginForm.touched) || loginForm.untouched" type="submit" class="btn btn-link btn-lg">
          <img src="assets/zaloguj.png" alt="Zaloguj" id="zaloguj">
        </button>
      </div>
    </div>
  </form>
</div>