.container-fluid
{
   background-image: url("/assets/wall.jpg");
   background-color: #9eecff;
   background-size: 100%; background-repeat: no-repeat; background-attachment: fixed;
   position: absolute; 
   right:0;
   left: 0;
   top: 0;
   bottom: 0;      
   width: auto;
   height: auto;  
}

.form-group
{
    width: 300px;
    display: inline;    
}

span
{
    display: inline;
}

#top
{
    padding-top: 4%;    
}

img
{
    width: 30%;
    height: 20%;
}

input
{
    border-radius: 20px;
}

#rpass
{
    width: 62%;
    height: 60%;
}

#zarejestruj
{
    padding-top: 20px;
    width: 50%;
    height: 50%;
}

button:hover
{
    transform: scale(1.05,1.05);       
}
